@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  --after-content: none;
  text-decoration: underline;
  text-underline-position: under;

  &:after {
    content: var(--after-content);
  }

  &:not([href^="#"]) {
    --after-content: " →"
  }

  &[target="_blank"] {
    --after-content: " ↗";
  }

  &[download] {
    --after-content: " ↓";
  }

  &:hover {
    text-decoration: none;
  }
}

.App {
  --nest-scale-progress: 1;
  --nest-translate-progress: 0;
  --clip-scenario-progress: 100%;
  --clip-circle-progress: 100%;

  .clip-sipario {
    clip-path: inset(var(--clip-scenario-progress, 0%) 0% 0% 0%);
    will-change: clip-path;
  }

  .clip-circle {
    clip-path: circle(var(--clip-circle-progress, 0%) at 50% 50%);
    will-change: clip-path;
  }
}

.nest {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: bottom;
  transform: scale(var(--nest-scale-progress, 1)) translateY(var(--nest-translate-progress, 0));
  transform-origin: center;
}

.scrolling-title {
  color: #fff;
  font-size: 25vw;
  position: absolute;
  top: 25%;
  left: 50%;
}
